<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MarioLevelComp2011_cs4731/src/dk/itu/mario/engine/PlayCustomized.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dk.itu.mario.engine.PlayCustomized"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MarioLevelComp2011_cs4731"/>
</launchConfiguration>
